@import url(https://fonts.google.com/specimen/Inter);


body{
    display: block;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;    
}
.card .profile-photo{
    border-radius: 100px;
    margin: 20px;
    width: 100px;

}
.card .name{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter' ;
    font-size: 20px;
    font-weight: 700;
}
.card .address{
    color: hsl(75, 94%, 57%);
    margin: 10px;
    font-family: 'Inter';
    font-weight: 700;
}
.card .profission{
    margin: 20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
}
.card .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.social-media li{
    list-style: none;
    padding: 4px;
}
.social-media button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    height: 3rem;
    width: 16rem;
    font-family: 'Inter';
    font-weight: 400;
    border: none;

}
.social-media button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
    cursor: 2px;
    font-weight: 700;
}